/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #f4f4f9;
  }

  #paragraph {
    width: 68%;
    height: 50px;
    background-color:black;
    color: #fff;
    font-size: 2rem;
    padding: 40px;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: left;
    margin:0.08rem;
  }

button {
    width:20%;
    height:40%;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.div{
    background-color: black;
    width:70%;
    padding:0.2rem;
}
.btn{
    font-size: 1rem;
    border-radius:20px;
    margin:4px;


}
.operator{
    font-size: 0.8rem;
    border-radius:20px;
    margin:4px;
    padding:4px;
}
.div3{
    background-color:black;
    width:70%;
    padding:0.1rem;
}
.div4{
    background-color:black;
    width:70%;
    padding-bottom:0.8rem; 
    border-radius: 4px; 
}
.backspace{
    font-size: 1rem;
    border-radius: 22px;
    padding:2px;
    margin:2px;
    
}
.decimal{
font-size: 1.5;
border-radius:18px;
padding:2px;
margin:2px;
}
#equal-button{
    font-size: 1.4rem;
    border-radius: 18px;

}
#del-button{
    font-size: 1rem;
    border-radius: 18px;
    padding:4px;

}
@media  (min-width: 350px){
    /* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #f4f4f9;
    margin-left: 4rem;
  }

  #paragraph {
    width: 70%;
    height: 50px;
    background-color:black;
    color: #fff;
    font-size: 2rem;
    padding: 40px;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: left;
    margin:0.08rem;
  }

button {
    width:20%;
    height:40%;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.div{
    background-color: black;
    width:70%;
    padding:0.2rem;
}
.btn{
    font-size: 1rem;
    border-radius:20px;
    margin:4px;


}
.operator{
    font-size: 0.8rem;
    border-radius:20px;
    margin:4px;
    padding:4px;
}
.div3{
    background-color:black;
    width:70%;
    padding:0.1rem;
}
.div4{
    background-color:black;
    width:70%;
    padding-bottom:0.8rem; 
    border-radius: 4px; 
}
.backspace{
    font-size: 1rem;
    border-radius: 22px;
    padding:2px;
    margin:2px;
    
}
.decimal{
font-size: 1.5;
border-radius:18px;
padding:2px;
margin:2px;
}
#equal-button{
    font-size: 1.4rem;
    border-radius: 18px;

}
#del-button{
    font-size: 1rem;
    border-radius: 18px;
    padding:4px;

}

}